In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Win10\Downloads\learningSet.csv",low_memory=False)

In [3]:
# Comprobar si hay valores nulos en las columnas numéricas
numeric_columns = df.select_dtypes(include=['number']).columns
null_counts_numeric = df[numeric_columns].isnull().sum()
print("Valores nulos en las columnas numéricas:")
print(null_counts_numeric[null_counts_numeric > 0])

Valores nulos en las columnas numéricas:
AGE         23665
NUMCHLD     83026
INCOME      21286
WEALTH1     44732
MBCRAFT     52854
            ...
RAMNT_23    87553
RAMNT_24    77674
NEXTDATE     9973
TIMELAG      9973
CLUSTER2      132
Length: 91, dtype: int64

In [ ]:
# Utilice métodos apropiados para limpiar las columnas GEOCODE2, WEALTH1, ADI, DMA,y MSA

In [4]:
# 1. GEOCODE2: Asumiremos que los valores nulos pueden ser reemplazados por una categoría 'N/A'
df['GEOCODE2'] = df['GEOCODE2'].fillna('N/A')

In [5]:
# 2. WEALTH1: Reemplazar valores nulos con la mediana o la moda (usaremos la mediana aquí)
df['WEALTH1'] = df['WEALTH1'].fillna(df['WEALTH1'].median())

In [7]:
# 3. ADI: Reemplazar valores nulos con la mediana
df['ADI'] = df['ADI'].fillna(df['ADI'].median())

In [8]:
# 4. DMA: Reemplazar valores nulos con la mediana
df['DMA'] = df['DMA'].fillna(df['DMA'].median())

In [9]:
# 5. MSA: Reemplazar valores nulos con la mediana
df['MSA'] = df['MSA'].fillna(df['MSA'].median())

In [10]:
# Verificar nuevamente los valores nulos después de la limpieza
print("\nValores nulos después de la limpieza:")
print(df[['GEOCODE2', 'WEALTH1', 'ADI', 'DMA', 'MSA']].isnull().sum())

Valores nulos después de la limpieza:
GEOCODE2    0
WEALTH1     0
ADI         0
DMA         0
MSA         0
dtype: int64